## Foundations: Clean Data

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

This dataset contains information about 891 people who were on board the ship when departed on April 15th, 1912. As noted in the description on Kaggle's website, some people aboard the ship were more likely to survive the wreck than others. There were not enough lifeboats for everybody so women, children, and the upper-class were prioritized. Using the information about these 891 passengers, the challenge is to build a model to predict which people would survive based on the following fields:

- **Name** (str) - Name of the passenger
- **Pclass** (int) - Ticket class
- **Sex** (str) - Sex of the passenger
- **Age** (float) - Age in years
- **SibSp** (int) - Number of siblings and spouses aboard
- **Parch** (int) - Number of parents and children aboard
- **Ticket** (str) - Ticket number
- **Fare** (float) - Passenger fare
- **Cabin** (str) - Cabin number
- **Embarked** (str) - Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

### Read The Data

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [5]:
titanic = pd.read_csv('titanic.csv')
titanic.head()
df = titanic

Each row represents one person. The columns describe different attributes about the person including whether they survived (S
), their age (A
), their passenger-class (C
), their sex (G
) and the fare they paid (X
).

Each row represents one person. The columns describe different attributes about the person including whether they 
survived `(S)`, their age `(A)`, their passenger-class `(C)`, their sex `(G)` and the fare they paid `(X)`.

#### [Quetion] Calculate the conditional probability that a person survives given their sex and passenger-class:
P(S= true | G=female,C=1)

P(S= true | G=female,C=2)

P(S= true | G=female,C=3)

P(S= true | G=male,C=1)

P(S= true | G=male,C=2)

P(S= true | G=male,C=3)

[Guiding]
Calculating the probability of a relevant survived group to need first to the amount of survives divided by the total amount of the group. 
For example: `len(df[(df["Survived"]==1) & (df["Sex"]=="female")])` will provide the number of female passenger that are survived. So you need to add a condition of `class=1` to find the total number of female passenger belong to first class that are survived.

Use the same principle to calculate the total numer of female passeger belong to first class.
Then calculate all of the following.

In [19]:
print('the len of female passenger that are survived: ', len(titanic[(df["Survived"]==1) & (df["Sex"]=="female")]))

the len of female passenger that are survived:  233

### Fare Avrage
[`Quetion`] calculate the total fare mean and the fare mean of each class. Use column `Pclass` [1,2,3] to select each class.
The mean is calculate by the method `.mean()`

In [ ]:
print("Average fare of all passengers -->   {:.4f}".format(<add the code here>)
      
# How much you have to pay for the different classes in average?
print("First class mean cost -->  {:.4f}".format(<add the code here>)
print("Second class mean cost -->  {:.4f}".format(<add the code here>)
print("Third class mean cost -->  {:.4f}".format(<add the code here>)

### Age 
[`question`] find the mean, min and max of Age column

In [ ]:
# average age of all passengers
print("Average age of all passengers -->  {0:.1f}".format(<add your code here>)
print("Age of oldest passenger -->  {:.1f}".format(<add your code here>)
print("Age of youngest passenger -->  {:.1f}".format(<add your code here>)

### Plot Data
Use the method `sns.countplot` to plot a bar of relevent column. 
Plot the colum of `Survived` and title it with `plt.title` method

In [ ]:
<add you code here>

In [ ]:
sns.countplot(x="Survived", hue="Sex", data=df)
plt.title("No. of people survived and died separated into women and men")

In [ ]:
sns.countplot(x="Survived", hue="Pclass", data=df)
plt.title("No. of people survived from different classes")

Use the method `sns.distplot` to display the the fare distribution and the costs from the different classes.

In [ ]:
<add you code here>

In the following we can clearly see that most passengers did not have any siblings/spouses or parents/children aboard

In [ ]:
sns.distplot(df["SibSp"], kde=False)
plt.title("Number of siblings and spouses on board of each passenger")

Use the method `sns.distplot` to display the distribution of the ages of the passengers.
Add title `Ages of passengers` by using plt.title

In [ ]:
<add you code here>

# Data Preperation